*
{
    box-sizing: border-box;
}

body
{

    padding-left: 15%;
    padding-right: 15%; 
}   

header
{   
    height: 90px;
    background: #444444 ;
    width: 1000px;
}

header img
{   
    text-align: center;
    float: left;
    padding-left: 8%;
    margin: 0.5%;

}


nav ul li
{   
    display: inline-block;
    padding: 25px;;
    margin-left: 30px;
    color:grey;
}

article img
{  
    margin: 2.5% 20px;

}



article div
{
    margin: 2.5% 20px;

}

article div img
{
    margin: auto;
    padding: 8px;
}




body :nth-child(3) img
{
  float: left;

}


p,h3{
    font-size: 30px;

}

p
{
    height: 355px;
    width: 450px;
    overflow: scroll;
}

h3
{
    font-weight: bold;

}

footer
{
  clear: both;
  background-color: #444444;
  height: 90px;
  width: 1000px;
  margin-top: 1%;
}

button {


  background-color: black;
  color: darkgray;
  padding: 1%;

}
button:hover
{
    background-color: darkgray;
    color: black;
    font-weight: bold;
}
